<div class="container">
	<%= image_tag 'interestpics.png', :id=> "interestpics", :class=> "img-responsive" %>
	<%= link_to "Back", signup_path, class: "btn btn-large btn-primary", id: "backButton" %>
	<%= link_to "Next", review_path, class: "btn btn-large btn-primary", id: "nextButton" %>
</div>