<div>
	<%= image_tag '', :id=> "", :class=> "img-responsive" %>
	<%= link_to "Back", interests_path, class: "btn btn-large btn-primary", id: "backButton" %>
	<%= link_to "Next", profile_path, class: "btn btn-large btn-primary", id: "nextButton" %>
</div>